.container{
    background: url("/images/bgwood.jpg");
    
}
.mainRow{
    display:flex;
    justify-content: center;
    alighn-items: center;
    margin: 0 1rem;
}
.mainTitle{
    text-align:center;
    padding: 2rem;
    font-size: 50px;
    line-height: 100px!important;
    padding-top: 2px;
    margin-top: -22px;
    font-size: 60px;
    font-weight: 700;
    position: relative;
    text-transform: uppercase;
    color: #f8b02d;
    line-height: 100px!important;
    padding-top: 0;
    margin-top: -35px;
}
.ordernowSpan{
    position: absolute;
    right: 44%;
    top: 66px;
    font-size: 45px;
    margin-left: 18px;
    display: block;
    text-transform: uppercase;
    color: #9a3324;
    line-height: 1;
    margin-bottom: -21px;
    z-index: 1;
}
.elementCol{
    display:flex;
    justify-content: center;
    alighn-items: center;
    margin: 2rem 0;
    padding: 0 !important;
    box-sizing: border-box !important;
    border: none !important;
}
.catagoryButton{
    border-radius:0;
    margin-bottom: 0;
    color: #9a3324 !important;
    font-size: 20px !important;
    font-weight: 400;
    position: relative;
    display: inline-block;
    border-bottom: 1px solid #f8b02d;
    text-transform: uppercase;
    background-color: transparent !important;
    border-top:none !important;
    border-left:none !important;
    border-right:none !important;
}
.catagoryButtonFirst{
    border-radius:0.5em;
    margin-bottom: 0;
    color: "#2D2926";
    font-size: 20px !important;
    font-weight: 400;
    position: relative;
    display: inline-block;
    border-bottom: 1px solid #f8b02d;
    text-transform: uppercase;;
    border-top:none !important;
    border-left:none !important;
    border-right:none !important;
}
.catagoryButton:hover{
    background-color:#f8b02d !important;
    border-radius: 0.5em;
    border-bottom: none;
}
.catagoryButton:focus{
    background-color:#f8b02d !important;
    border-radius: 0.5em;
    border: none;
    outline: none;
}
.catagoryButtonFirst:hover{
    background-color:#f8b02d !important;
    border-radius: 0.5em;
    border-bottom: none;
}
.catagoryButtonFirst:focus{
    background-color:#f8b02d !important;
    border-radius: 0.5em;
    border: none;
    outline: none;
}
.cardBody{
    display:flex;
    justify-content: center;
    alighn-items: center;
}
.cardTitle{
    font-size:0.5rem !important;
}
.cart{
    position: absolute;
    top: 7px;
    right: 27px;
    background-image: url(/assets/images/bag.png);
    background-size: contain;
    display: inline-block;
    width: 48px;
    height: 48px;
    background-repeat: no-repeat;
    content: "";
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    -webkit-transform: scale(.8);
    transform: scale(.8);
}
.cart:hover{
    transform: scale(1.1);

}
.cardButton{
    font-size: 17px !important;
    text-transform: capitalize !important;
    margin-bottom: 14px !important;
    background: #9a3324 !important;
    padding: 11px 10px !important;
    border-radius: 9px !important;
    -webkit-transition: all .3s ease-in-out !important;
    transition: all .3s ease-in-out !important;
    position: relative !important;
    cursor: pointer !important;
    display: table !important;
    width: 100% !important;
    height: 60px !important;
    display:flex !important;
    justify-content: space-between !important;
    align-items: center !important;
    border: none !important;
    font-weight: 600 !important;
}
.cardButton:hover{
    background-color:#F8B02D !important;
    padding: 1rem !important;
}
.buttonLink{
   color: white !important;
}